.success {
    color: lightgreen;
    border: 1px solid lightgreen;
    padding: 10px;
}

.danger {
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px;
}

.info {
    color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: 10px;
}
