div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input {
    box-sizing: border-box;
    padding: 0 8px;
    display: block;
    width: 100%;
}

input.error {
    border-color: red;
}

p.error {
    margin-top: 5px;
    color: red;
}

.size-small {
    height: 30px;
    line-height: 30px;
    
}
.size-medium {
    height: 37px;
    line-height: 37px;
}
.size-large {
    height: 44px;
    line-height: 44px;
}
